<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ site.description }}"/>
        <meta name="viewport" content="width=device-width">
        <link href="/favicon.ico" rel="icon">
        <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
            <a class="extra" href="http://www.fjvi.xyz/">HOME</a>
            <a class="extra" href="http://wiki.fjvi.xyz/">WIKI</a>
            <a class="extra" href="https://github.com/mgtang">GITHUB</a>
            <a class="extra" href="/about.html">ABOUT</a>
            <a class="extra" href="/feed.xml">RSS</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
              联系我 <<a href="mailto:maigutang@gmail.com">Gmail</a>>
              </p>
            </div>
          </div>
        </div>

<div style="display:none;" class="back-to" id="toolBackTop">
<a title="返回顶部" onclick="window.scrollTo(0,0);return false;" href="#top" class="back-top">
返回顶部</a>

<script type="text/javascript">
$(document).ready(function () {
        var bt = $('#toolBackTop');
        var sw = $(document.body)[0].clientWidth;

        var limitsw = (sw - 840) / 2 - 80;
        if (limitsw > 0){
                limitsw = parseInt(limitsw);
                bt.css("right",limitsw);
        }

        $(window).scroll(function() {
                var st = $(window).scrollTop();
                if(st > 30){
                        bt.show();
                }else{
                        bt.hide();
                }
        });
})
</script>
</div>
    </body>
</html>
